<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Timesheet</a>
      </div>
      <div class="nav navbar-nav navbar-right" id="gap">
      <button  id="addTimesheet" class="btn btn-primary" (click)="approveTimesheet()">
        Approve Timesheet
      </button>  
      <button  id="addTimesheet" class="btn btn-primary" (click)="viewTimesheet()">
        View Timesheet
      </button>
       <img src="../assets/profileimage.png" (click)="Logout()" id="ProfileImage">
      </div>
    </div>
  </nav>
  
  