<div class="jumbotron">
  <h1>Banner to represent Project Management System</h1>
  <!-- <p>
    In this, a good image for time sheet is required....
  </p> -->
</div>
<!-- ---------------------------------------------------------------------------------------------------------- -->
<div class="container" id="loginContainer">
  <div class="row" *ngIf="this.btnStatus">
    <div class="col-md-3"></div>
      <div class="col-md-6" >
        <p class="loginMessage">{{this.message}}</p>
      </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">
        <img id="profile-img" src="../assets/watch.jpg" />
        <form class="form-signin" (submit)="onLoginEmp(LoginEmp)" #LoginEmp="ngForm">
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="empEmail" ngModel #empEmail="ngModel" required autofocus> <!-- Text box for Email Id -->

          <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="empPassword" ngModel #empPassword="ngModel" required> <!-- Text box for Password -->
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>
        <div id="forgotPass"> Unable to sign in?
          <a href="#" class="forgotPasswordAnchor">
            Forgot the password
          </a>
        </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>  

<!-- ---------------------------------------------------------------------------------------------------------------------- -->

<app-timesheet-footerscreen></app-timesheet-footerscreen>